services:
    open-webui:
        container_name: neo-open-webui
        image: ghcr.io/open-webui/open-webui:main
        ports:
            - '3000:8080'
        volumes:
            - openwebui_data:/app/backend/data
        environment:
            - OLLAMA_BASE_URL=http://ollama:11434
        healthcheck:
            test:
                [
                    'CMD-SHELL',
                    'curl -f http://localhost:8080/api/version || exit 1',
                ]
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 30s
        networks:
            - neo-network

volumes:
    openwebui_data:

networks:
    neo-network:
        external: true
