services:
    pgadmin:
        image: dpage/pgadmin4:latest
        container_name: neo-pgadmin
        ports:
            - '5050:80' # Access pgAdmin at http://localhost:5050
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@admin.com # Change this
            PGADMIN_DEFAULT_PASSWORD: admin123 # Change this
        volumes:
            - pgadmin_data:/var/lib/pgadmin
        depends_on:
            postgres:
                condition: service_healthy
        networks:
            - neo-network

volumes:
    pgadmin_data:
        driver: local

networks:
    neo-network:
        external: true
