services:
    nginx:
        container_name: neo-nginx
        image: nginx:alpine
        ports:
            - '80:80'
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
        healthcheck:
            test: ['CMD-SHELL', 'curl -f http://localhost:80 || exit 1']
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 5s
        networks:
            - neo-network

networks:
    neo-network:
        external: true
